button, .btn {
    border: 0px;
    border-radius: 0.3rem;
    width:100%;
    box-shadow: none;
    background-color: $signal;
    padding: 1rem 1.5rem;
    color: $white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    display: block;
    text-transform: uppercase;
    font-size: 1.2em;

    &:disabled {
        cursor: not-allowed;

        &:hover {
            background-color: $grey-light;
            transform: scale(1);
            box-shadow: none;
        }
    }
}
button:hover, .btn:hover {
    background-color: darken($signal, 10);
    transform: scale(1.02);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
}
