$flexboxgrid-grid-columns: 12;
$flexboxgrid-gutter-width: 20rem;
$flexboxgrid-outer-margin: 1rem;

$flexboxgrid-breakpoints:
  sm 48rem,
  md 64rem,
  lg 80rem,
  xlg 90rem;


@import 'flexboxgrid-sass';




.wrap {
    box-sizing: border-box;
    max-width: 75rem;
    margin: 0 auto;
}
.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 48rem) {
    .pl-sm {
        padding-left: 3vw;
    }
}
@media screen and (max-width: 48rem) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
.flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.mt {
    margin-top: 2rem;
}

.map-section {
    margin-top: 100px;
    margin-bottom: 100px;
}