body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: $green-dark;
    text-decoration: none;

    &:hover, &:focus, &:active  {
        color: $green-dark;
        opacity: 0.8;
    }
}