@import '../Layout/sass/variables';

.barcountWrapper {
    padding: 1.5rem 0;
    position: relative;

    p {
        position: absolute;
        margin: 0;
        top: 0;
        transition: all 0.8s ease;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;

        &:first-of-type {
            transform: translateX(-100%);
            animation: barcount-fade 1.2s 0s;
            -webkit-animation: barcount-fade 1.2s 0s;
}
        &:last-of-type {
            right: 0;
            top: auto;
            bottom: 0;
        }
        &.errorMessage {
            transform: none;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            color: $red;
        }
    }

    .barBackdrop {
        width: 100%;
        height: 1rem;
        background-color: #4e6839;
        position: relative;
        border-radius:15px;
        transition: all 0.8s ease;

        .bar {
            background-color: #80b35b;
            border-radius: 15px;
            position: absolute;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            transition: all 0.8s ease;
        }
}

@keyframes barcount-fade {
    0% {opacity: 0;}
    75% { opacity: 0;}
    100% {opacity: 1;}
}
}
.goals {
    flex-wrap: wrap;

    .completedGoal {
        width: 1.25rem;
        height: 1.25rem;
        background: #4e6839;
        border-radius: 50%;
        margin-right: 0.5rem;
        border: 2px solid #4e6839;
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            border-left: 4px solid #80b35b;
            border-bottom: 4px solid #80b35b;
            height: 0.3rem;
            width: 0.6rem;
            top: 0;
            left: 0;
            transform: rotate(-45deg) translate(-10%, 60%);
        }
    }
    .uncompletedGoal {
        width: 1.25rem;
        height: 1.25rem;
        border: 2px solid #4e6839;
        border-radius: 50%;
        margin-right: 0.5rem;
    }
    p {
        margin-right: 1rem;
    }
}