.grass {
    position: absolute;
    bottom: 0;
    top: auto !important;
    z-index: 100;
    
}
.grass1 {
   z-index: 200; 
   width: 120%;
   left: -10% !important;

   
    filter: drop-shadow( 0 -5px 20px rgba(0, 0, 0, 0.5));

}
.grass2 {
    z-index: 100;
    width: 70%;
    left: 0;
    filter: drop-shadow( 0 -5px 20px rgba(0, 0, 0, 0.5));
 }
 .grass3 {
    z-index: 90; 
    filter: drop-shadow( 0 -5px 20px rgba(0, 0, 0, 0.5));
    width: 120%;
   left: -10% !important;
 }
 .grass4 {
    z-index: 80; 
    filter: drop-shadow( 0 -5px 20px rgba(0, 0, 0, 0.3));
    width: 120%;
   left: -10% !important;
 }