@import '../Layout/sass/variables';

.bannerWrapper {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #353535;
    color: white;
    z-index: 999;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: 48rem) {
        flex-direction: column-reverse;
        text-align: center;
        padding: 2rem 0;
        bottom: auto;
        top: 0;
        position: absolute;
    }

    button {
        width: auto !important;
        margin: 1rem;

        &.danger {
            background-color: transparent !important;

            &:hover {
                transform: none;
                box-shadow: none;
            }
        }
    }
    p {
        color: white;
        margin: 1rem;
    }
}